<!DOCTYPE html>
<html>
    <head>
        <title>Understanding Le Chéile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
      <div class = "row" id = "menu">
        <div class = "col-4"><img src = "https://github.com/sachi05/sachi05.github.io/blob/master/Banner_Head.png?raw=true" width="15%">Understanding Le Ch&#xE9;ile</div>
        <div class="col-2"><a href="{{ url_for('index') }}">HOME</a></div>
        <div class="col-2"><a href="{{ url_for('about') }}">ABOUT US</a></div>
        <div class="col-2"><a href="{{ url_for('services') }}">SERVICES</a></div>
        <div class="col-2"><a href="{{ url_for('contact') }}">CONTACT US</a></div>
      </div>
      <div class = "Header">
        <h3>{% block heading %}{% endblock %}</h3>
      </div>
      <div class = "Content">
        {% block body %}
        {% endblock %}
      </div>
      <div class = "Footer">
        <div class = "Links">
          <h3>Quick Links</h3>
          <a href="https://youtu.be/r-RjF2fbAMA?t=569">Enactus Ireland National Competition 2018</a>
          </br>
          <a href="https://www.nuigalway.ie/about-us/news-and-events/news-archive/2018/june/nui-galway-runners-up-at-enactus-ireland-national-competition.html">
            Enactus NUI Galway Awarded Runner Up by Enactus Ireland</a>
          </br>
          <a href="http://enactusireland.org/2018/11/05/enactus-world-cup-world-cultural-experience-4/">
            Katie Nolan on Enactus World Cup- World Cultural Experience</a>
        </div>
        <div class = "Social-media">
          <h3>Get in Touch</h3>
          <p>understandinglecheile@gmail.com
          </br>Society Box,
          <br>
          NUI Galway,Distillery RD,
          <br>
          Galway</p>
        </div>
      </div>
    </body>
</html>
